<table>
  <tr>
    <th>Welcome, user!</th>
  </tr>

  <p>Here are your current </p>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= link_to 'Show', task_path(task) %></td>
    </tr>
  <% end %>
</table>
